<!-- start the realm of the buttons -->
            <div id="gps-button">
              <a ng-click="getGps();" class="btn blue gps-button">Get my location!</a>

              <h3>OR</h3>
              <span us-spinner spinner-key="spinner-1"></span>
              <!--<span us-spinner="{radius:30, width:8, length: 16}"></span>-->

              <div class="buttons"><input class="input-address" type="text" gm-places-autocomplete ng-model="autocomplete" style="width: 300px;"/><a ng-click="addressSelected();" class="btn blue address-button">Get my address!</a></div>
            </div>
