<div class="container select_view">
      <video-bg class="blur_container" video-id="video.id">

      </video-bg>
      <div>
          <!--<div class="row">-->

            <div class="centered-block">
              <!--<div class="">-->
                <div class="abs"><h1>Toronto</h1><img class="mapple-leaf" src="../images/noun_210.svg"></div>
              <!--</div>-->
            </div>
              <!--<div>-->
           </div>

            <!-- start the realm of the buttons -->
            <!--<div id="buttons">-->
              <!--<a ng-click="select.selectPlace(1)" class="btn blue">Police</a>-->
              <!--<a ng-click="select.selectPlace(2)" class="btn green">Fire Station</a>-->
              <!--<a ng-click="select.selectPlace(3)" class="btn red">Hospital</a>-->
              <!--<a ng-click="select.selectPlace(4)" class="btn purple">Bathroom</a>-->
              <!--&lt;!&ndash;<a href="#" class="btn orange">Orange Button</a>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#" class="btn yellow">Yellow Button</a>&ndash;&gt;-->
            <!--</div>-->


            <!--<div class="center-block"><h2>Emergency</h2></div>-->


          <!--</div>-->

      </div>


</div>
