.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/*.same-line-overlay {*/
  /*display:block;*/
  /*position:relative;*/
/*}*/

.centered-block {
  display: flex;
  align-items: center;
  justify-content: center
}

.abs {
    position: absolute;
    width: auto; /* optional */
    height: auto; /* optional */
    margin-top: 5%;
}

h1 {
  font-family: "Noe Display Medium", serif;
  font-size:1000%;
  color: whitesmoke;
  text-shadow: 2px 2px lightgray;
}

h3 {
  font-family: "Noe Display Medium", serif;
  font-size:600%;
  color: whitesmoke;
  text-shadow: 2px 2px lightgray;
}

.mapple-leaf {
  /*background-color: red;*/
  /*fill: red;*/
  /*size: 10px;*/
  max-height: 70px;
  top: 50%;
  /*left: 15%;*/
  position: absolute;
  padding: 0;
}


h2 {
  font-family: "Noe Display Medium", serif;
  font-size:600%;
  color: red;
  text-shadow: 2px 2px lightgray;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/*.container-narrow > hr {*/
  /*margin: 30px 0;*/
/*}*/

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/*.marketing {*/
  /*margin: 40px 0;*/
/*}*/
.marketing p + h4 {
  margin-top: 28px;
}

.container {
    width: 100%;
    height: 100vh;
}

.blur_container {
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .blur_container {
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }



  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




.select_view {
  text-align: center;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 700px) {
  .abs {
      position: absolute;
      width: auto; /* optional */
      height: auto; /* optional */
      margin-top: 10%;
  }

  h1 {
    font-family: "Noe Display Medium", serif;
    font-size:500%;
  }


}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
  margin-top: 15%;
}

/* button div */
#gps-button {
  padding-top: 50px;
  text-align: center;
  margin-top: 7%;
}

.address-button {
  /*padding-top: 30p;x;*/
  /*text-align: center;*/
  /*margin-top: 3%;*/

  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  text-decoration: none;
  margin: 15px;
  color: #fff;
  position: relative;
  /*display: ;*/
}


/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}


.input-address{
  display: block;
  margin: 2em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}
